body{
    padding-top: 160px;
    padding-bottom: 75px;
}
.bookmark__word{
    font-weight: bold;
    font-size: 17px;
    color: rgb(86, 82, 82);
    position: fixed;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-top: -60px;
    width: 100%;
    z-index: 9999;
    background-color: white;

}
.list-group-content {
    display: flex;
    margin-left: 20px;
}

.list-group__info {
    margin-right: -35px;
    margin-left: 20px;
    opacity: 70%;
}

.list-group {
    height: 70px;
    padding: 50px;
    border-left: 15px;
    border: 2px solid var(--color-blue);
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 20px;
    justify-content: center;
}
.list-group__icon > i {
    cursor: pointer;
    color: var(--color-blue);
    margin-left:5px;
}
.list-group__title{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 6px;
}
.list_name {
    text-decoration: none;
    color: black;
}

@media all and (max-width:767px) {
    .list-group__title{
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 6px;
    }

    .list-group__info {
        margin-right: -35px;
        margin-left: 20px;
        opacity: 70%;
        font-size: 14px;
    }
    .bookmark__word{
        font-weight: normal;
        font-size: 18px;
        color: rgb(86, 82, 82);
        position: fixed;
        padding-top: 30px;
        padding-left: 25px;
        padding-bottom: 10px;
        margin-top: -60px;
        width: 100%;
        z-index: 9999;
        background-color: white;
    
    }
}

