.bookmark__word{
    font-weight: bold;
    font-size: 17px;
    color: #D0E450;
    margin-bottom: 10px;
}
.list-group-item{
    justify-content: space-between;
    align-items: center;
    display: flexbox;
    margin-bottom: 5px;
}
.list-group{
    border-color:#D0E450;
}
.list-group a{
    color:rgb(60, 60, 60);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.list-group i{
    color:#D0E450;
}