.nav__form
{
    margin-bottom: 0;
    padding-left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D0E450;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.nav__list 
{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
