@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --color-blue: #4e6bff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

i {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--color-blue);
  font-family: Helvetica, sans-serif;
}

.msger-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msger {
  display: flex;
  flex-direction: column-reverse; /* 채팅창 역순으로 정렬 */
  justify-content: flex-end; /* 채팅창 아래에서부터 시작 */
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* 스크롤 막기 */
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--color-blue);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin-left: 10px;
  margin-right: 0;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
  align-items: center;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  background: var(--color-blue);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.msger-send-btn:hover {
  background: var(--color-blue);
}

.msger-chat {
  background-color: #fcfcfe;
}

.msger-chat-part.right-msg .msg-bubble {
  margin-left: auto;
  margin-right: 0;
}

.msger-chat-part.right-msg .msg-info-name {
  text-align: right;
}

.chat-form input:focus,
textarea:focus {
  border-color: var(--color-blue);
  outline: none;
}

@media all and (max-width: 767px) {
  .msg-bubble {
    margin: 10px;
    max-width: 70%;
  }

  .msger-chat-part.right-msg {
    margin: 10px;
  }

  .msger {
    width: 90%;
    max-width: none;
    margin: 10px;
    height: 80vh;
  }

  .msger-chat {
    padding: 5px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
  }

  .msg-bubble {
    max-width: 80%;
  }

  .msger-send-btn {
    margin-top: 10px;
  }

  .msger-inputarea {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; /* 입력창과 버튼을 오른쪽으로 정렬 */
  }

  .msger-input {
    margin-bottom: 0;
  }
}