body{
  padding-bottom: 70px;
}.list{
  display:flex;
  justify-content: space-between;
}
.nav{
  justify-content: space-between;
  display: flex;
}
.nav-item{
  position: fixed;
  justify-content: center;
  display: flex;
  margin-top: 105px;
  font-size: 17px;
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  background-color: #ffffff;
}
.txt-bar{
  margin-left: 5px;
  margin-right: 5px;
  color: #948e8e;
}
.box {
  display: flexbox;
  margin-top: 160px;
}
.box ul
{
  position: relative;
  background: #fff;
  margin-right: 30px;

} 
.box ul li {
  border-bottom: solid 1px rgb(233, 227, 227);
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
  list-style: none;
}
.box ul li:hover
{
  z-index: 100;
  color: var(--color-blue);
}
@media screen and (max-width:767px) {
  .nav-item{
    position: fixed;
    justify-content: center;
    display: flex;
    margin-top: 105px;
    font-size: 17px;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    background-color: #ffffff;
  }
  .box {
    display: flexbox;
    margin-top: 180px;
  }
}


