.list{
  display:flex;
  justify-content: space-between;
}
.nav{
  justify-content: center;
}
.nav-item{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.txt-bar{
  margin-top: 5px;
  color: #948e8e;
}
.box {
  display: flexbox;
  margin-top: 20px;

}
.box ul
{
  position: relative;
  background: #fff;
  margin-right: 30px;

} 
.box ul li {
  border-bottom: solid 2px rgb(204, 200, 200);
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}
.box ul li:hover
{
  z-index: 100;
  color: #D0E450;
}