* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  background: var(--color-white);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginBox {
  width: 350px;
  text-align: center;
  background-color:var(--color-white);
}
.input-form-box {
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;

  }
.input-form-box > span {
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 65px;
  margin-left: 10px;
}
#id,#password{
    margin-left: 10px;
}
.button-login-box {
  margin: 10px 0px;
  display:flex;
  flex-direction: row;
}
#login{
  margin-left: 5px;
  margin-right: 5px;
}
#loginBoxTitle {
  color:var(--color-black);
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #270a09,var(--color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#login{
   width: 100%;
   color: var(--color-blue);
   border: 2px solid var(--color-blue);
   
}
#inputBox {
  margin: 10px;
}

#inputBox button {
  padding: 5px 5px;
}