.position
{
    top : 50vh;
}

.container-fluid fs-4 
{
    text-align:center; 
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-brand center fw-bold
{
    color:  var(--color-blue);
}

.btn btn-light 
{
    border-radius: 50%;  
    background-color: var(--color-blue);
}

.form-control mx-auto
{
margin-top: 250px;
}

.bi bi-search fs-4 btn btn-outline-#D0E450
{
    margin-top: 250px; background-color: var(--color-blue);
}
