.position
{
    top : 50vh;
}

#mainTop
{
    text-align:center; 
    margin-left: 50px;
    margin-right: 50px;
  
}
#categoryBtn{
    border-radius: 10px;
    background-color: var(--color-blue);
    text-align: center;
    color: white;
}
#searchBtn{
    background-color:var(--color-blue)
}

.input-group{
    margin-top: 140px;
}
