i {
    cursor: pointer;
}

.status-bar {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}

.mypage-profile {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: var(--color-blue);
    margin-bottom: 20px;
}

.mypage_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mypage_like_btn {
    padding: 10px;
}

.mypage_btn_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.nicknamechange, .passwordchange {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid var(--color-blue);
    background-color: white;
    margin-bottom: 30px;
}

.nicknamechange:hover {
    cursor: pointer;
    background-color: var(--color-blue);
    border: none;
}

.passwordchange:hover {
    cursor: pointer;
    background-color: var(--color-blue);
    border: none;
}

