.quizbox
{
    display: grid;
    margin-top: 70px 

}     
.quizbox h1
{
    color: var(--color-blue);
    text-align: center;
    font-size: 20px;
    /* margin : 20px; */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}
.quizbox ul {
    counter-reset: list-counter;
    list-style: none;
    float:left;
    padding-left: 0%;
}
.quizbox li:hover
{
  /* color: #D0E450; */
  background-color: var(--color-blue);
  opacity: 0.8;
}
.quizbox li{
    padding: 12px 12px;
    border-radius: 0;
    color:black; 
    /* 글자색이 바뀜 */
    z-index:9999;
    margin-top:1rem;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, rgba(#4298e8, 0) 25%, rgba(#4298e8, .8) 75%);
    /* 디자인 색이 바뀜 */
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 0.8px solid var(--color-blue);
    border-radius: 15px;
    cursor:pointer;                 
  /* 마우스 포인터 효과 */
}
