.search_box-form{
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;
  left: 0;
  right: 0;
}
.search_box {
  width: auto;
  height: auto;
  margin :20px;
  border: 4px solid var(--color-blue);
  display: flex;
  justify-content: center;
}
.search_box-input {
  flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
  height: 46px;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  outline: none;
  font-size: 18px;
}
.search_box-button {
  flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
  width: auto;
  height: 60px;
  padding: 0;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.search_box-button i{
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
}
@media all and (max-width:767px) {
  .search_box {
    width: aut0;
    height: 68px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid var(--color-blue);
    display: flex;
    justify-content: center;
  }
}