.search__info {
    padding-top: 150px;
    margin: 0px 40px 0px 40px;
}

li {
    list-style: none;
}

.item__name {
    margin-top: 30px;
    font-size: 20px;
}

.item__description {
    opacity: 70%;
}

.item__category {
    font-style: italic;
    font-size: 30px;
}