.status-setting {
    margin-bottom: 65px;
}
.status-bar {
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 72px;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
}
.status-bar__coulumn {
    color:black;
    font-size: 21px;
    font-weight: bold;
}
.status-bar__coulumn i{
    color: black;
    font-size:25px;
}
.status-bar_coulumn{
    color: white;
}
.account{
    margin-bottom: 7px;
    margin-top: 80px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold;
    opacity: 80%;
}
.customer{
    margin-bottom: 7px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold;
    opacity: 80%;
}
.userlist{
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(233, 227, 227);
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
}
.mypage-profile {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.profile-photo {
    margin-left: 15px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: var(--color-blue);
}
.user{
    margin-left: 20px;
    list-style: none;
}
.user a{
    font-weight: bolder;
}
.nickname{
    font-size: 18px;
}
.information{
    margin-top: 5px;
    font-size: 15px;
    justify-content: space-between;
    opacity: 80%;
}
.box {
    border: 1px solid rgb(233, 227, 227);
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .box ul{
    margin-left: 10px;
    padding-left: 0;
  }
  .box ul li {
    align-items: center;
    display: flex;
    padding: 13px;
    list-style: none;
  }
  .box ul li:hover
  {
    z-index: 100;
    color: var(--color-blue);
  }
.settinglist{
    justify-content: space-between;
    border-bottom: solid 1px rgb(233, 227, 227);
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}
.settinglist i{
    margin-top: 5px;
    margin-right: 12px;
}
.settinglist_last{
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -18px;
}
.settinglist_last i{
    margin-right: 12px;
}
.list_icon i{
    font-size: 19px;
}

@media all and (max-width:767px) {
    .userlist{
        align-items: left;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid rgb(233, 227, 227);
        border-radius: 15px;
        display: flex;
        margin-bottom: 30px;
    }
}
