.status-setting {
    margin-bottom: 65px;
}
.status-bar {
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 72px;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
}
.status-bar__coulumn {
    color:black;
    font-size: 21px;
    font-weight: bold;
}
.status-bar__coulumn i{
    color: black; 
    font-size:25px;
}
.mypage-profile {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #D0E450;
    margin-bottom: 20px;
}

.box {
    margin-top: 200px;
    border-radius: 15px;
    margin-right: 20px;
  }
  .box ul li {
    display: flex;
    padding: 10px;
    list-style: none;
  }
.settinglist{
    justify-content: space-between;
    border-bottom: solid 1px rgb(233, 227, 227);
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.settinglist a{
    margin-left: 10px;
}
.setting{
    display: flex;
    justify-content: space-between;
}

