:root {
    /* color */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #D0E450;
    --color-blue: #4298e8;
    --color-yellow: #ffe65a;
    --color-pink: #ff87a1;
    --color-purple: #9554bd;
    --color-burgundy: #95475b;
}