@font-face {
    font-family: "GmarketSansMedium";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "GmarketSansMedium";
}
:root {
    /* color */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #D0E450;
    --color-blue: #4298e8;
    --color-yellow: #ffe65a;
    --color-pink: #ff87a1;
    --color-purple: #9554bd;
    --color-burgundy: #95475b;
}
@media screen and (max-width: 768px) { body { background-color: #ffffff; } }
