button {
    color: black;
}

.theme-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.theme-colors > button {
    margin: 10px;
    width: 130px;
    height: 30px;
    border: none;
    background-color: transparent;
}


#red:hover {
    border-radius: 15px;
    background-color: #ff5e5e;
}

#orange:hover {
    border-radius: 15px;
    background-color: #ff9b4f;
}

#pink:hover {
    border-radius: 15px;
    background-color: #ff87a1;
}

#yellow:hover {
    border-radius: 15px;
    background-color: #ffe65a;
}

#yellowgreen:hover {
    border-radius: 15px;
    background-color: #D0E450;
}

#blue:hover {
    border-radius: 15px;
    background-color: #4298e8;
}

#purple:hover {
    border-radius: 15px;
    background-color: #9554bd;
}

#lightpurple:hover {
    border-radius: 15px;
    background-color: #e2a7ff;
}

#mint:hover {
    border-radius: 15px;
    background-color: #45d8c0;
}

#skyblue:hover {
    border-radius: 15px;
    background-color: #60ceef;
}

#green:hover {
    border-radius: 15px;
    background-color: #5fce5d;
}

.nav__form
{
    margin-bottom: 0;
    padding-left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: var(--color-blue);
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}
.nav__list 
{
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    text-decoration-line: none;
}
.nav__list i{
    margin-bottom: -12px;
    color: black;
    font-size: 1.7rem;
}
.text{
    margin-bottom: 1px;
    color: black;
    font-size: 10px;
}
.nav__form a{
    text-decoration-line: none;
}
.itemIcon{
    font-size: 10px;
}

