.thumbs__word{
    font-weight: bold;
    font-size: 17px;
    color: rgb(86, 82, 82);
    position: fixed;
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 25px;
    width: 100%;
    z-index: 9999;
    background-color: white;
    padding-bottom: 10px;

}
.list-group-item{
    height: 48px;
    top: 170px;
    border-color:#D0E450;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 10px;  
}
.list-group{
    margin-left: 20px;
    margin-right: 20px;
    border-color:#D0E450;
    margin-bottom: 100px;
}
.list-group a{
    color:rgb(60, 60, 60);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.list-group i{
    color:#D0E450;
}