<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="dictionary.css">

</head>
<body class="list_body">
    
    <header>
      <form>
          <div class="search_box">
              <input type="text" maxlength="225" tabindex="1" />
              <button type="submit" tabindex="2">
                  <i class="bi bi-search"></i>
              </button>
          </div>
      </form>
  </header>

    <%- list_page %>

    <%- bottom %>
  
</body>
</html>