<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./bottom.css">
    <link rel="stylesheet" href="./mypage.css">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.nunucode.com/font.css">
    <title>마이페이지</title>
</head>

<body>

    <div class="status-bar">
        <div class="status-bar__coulumn"><i class="bi bi-arrow-left" onclick="goBack()" style="font-size: 25px;"></i>
        </div>
        <div class="status-bar__coulumn"><i class="bi bi-person-circle" style="font-size: 25px;"></i></div>
        <div class="status-bar__coulumn"><a href="setting" class="status-bar__link"><i class="bi bi-gear-fill"
                    style="font-size: 25px;"></i></a></div>
    </div>
    <div class="mypage-profile">
        <div id="profile-photo" class="profile-photo">
        </div>
        <div id="profile-nickname" class="profile-nickname">
            <h2> <%= nickname %> 님</h2>
        </div>
    </div>

    <div class="mypage_btn">
        <div class="mypage_like_btn"><a href="bookmark"><i class="bi bi-bookmark-fill"></i><span>북마크 (<%= bookmarkCount %>)</span></a></div>
        <div class="mypage_like_btn"><a href="thumbs"><i class="bi bi-hand-thumbs-up-fill"></i><span>추천 (<%= thumbsCount %>)</span></a>
        </div>
    </div>

    <div class="mypage_btn_list">
        <a href="" class="changeprofile"><input type="button" value="프로필 수정" class="mypage_option"></a>
        <a href="" class="changenickname"><input type="button" value="닉네임 변경" class="mypage_option"></a>
        <a href="" class="changepassword"><input type="button" value="비밀번호 변경" class="mypage_option"></a>
        <a href="/logout" class="logout"><input type="button" value="로그아웃" class="mypage_option"></a>
    </div>


    <ul class="nav__form">
        <a href="/bookmark">
        <li class="nav__list">
        <div><i class="bi bi-bookmark-fill"></i></div>
        <span class="text">북마크</span></li></a>

        <a href="/chat">
        <li class="nav__list">
        <div><i class="bi bi-chat-dots-fill"></i></div>
        <span class="text">채팅</span></li></a>

        <a href="/mainpage">
        <li class="nav__list">
        <div><i class="bi bi-house-door-fill"></i></div>
        <span class="text">홈</span></li></a>

        <a href="/dictionary">
        <li class="nav__list">
        <div><i class="bi bi-search"></i></div>
        <span class="text">검색</span></li></a>

        <a href="/mypage">
        <li class="nav__list">
        <div><i class="bi bi-person-fill"></i></div>
        <span class="text">마이페이지</span></li></a>
    </ul>
        
        <script>
            function goBack() {
            window.history.back();
            }

            const changeProfileBtn = document.querySelector('.changeprofile input[type="button"]');
            const profileImage = document.querySelector('#profile-image');

            changeProfileBtn.addEventListener('click', () => {
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = 'image/*';
            fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.addEventListener('load', () => {
            // 선택된 이미지 파일을 img 태그의 src 속성에 할당하여 업데이트
            profileImage.src = reader.result;
            });
            reader.readAsDataURL(file);
            });
            fileInput.click();
            });
        </script>
</body>

</html>