<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <title>가입하기</title>
  </head>
  <body>
    <h1>사용하고 싶은 닉네임을 입력하세요.</h1>
    <form action="/signup" method="post">
      <label>닉네임:</label>
      <input type="text" name="usernickname" required>
      <label>패스워드:</label>
      <input type="text" name="password" required>
      <button type="submit">가입하기</button>
    </form>
    <script src="/color.js"></script>
  </body>
</html>