<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./bottom.css">
    <link rel="stylesheet" href="./theme.css">
    <link rel="stylesheet" href="./mypage.css">
    <link rel="stylesheet" href="./setting.css">
    <link rel="stylesheet" href="./basic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>테마변경</title>
</head>

<body>

    <header class="status-setting">
        <div class="status-bar">
            <a href="/setting"><div><i class="bi bi-arrow-left" style="color: black; font-size:25px;"></i></div></a>
            <div class="status-bar__coulumn">테마변경</div>
            <div class="status-bar_coulumn"><i class="bi bi-paint-bucket" style="color: black; font-size:25px;"></i>
            </div>
        </div>
    </header>

    <div class="theme-colors">
        <button id="burgundy" onclick="changeThemeColor('#95475b')">Burgundy</button>
        <button id="pink" onclick="changeThemeColor('#ff87a1')">Pink</button>
        <button id="yellow" onclick="changeThemeColor('#ffe65a')">Yellow</button>
        <button id="green" onclick="changeThemeColor('#D0E450')">Green</button>
        <button id="blue" onclick="changeThemeColor('#4298e8')">Blue</button>
        <button id="purple" onclick="changeThemeColor('#9554bd')">Purple</button>
        <button id="white" onclick="changeThemeColor('#ffffff')">White</button>
    </div>
    </div>

    <ul class="nav__form">
        <a href="/bookmark">
        <li class="nav__list">
        <i class="bi bi-bookmark-fill"></i>
        <span class="text">북마크</span></li></a>

        <a href="/chat">
        <li class="nav__list">
        <i class="bi bi-chat-dots-fill"></i>
        <span class="text">채팅</span></li></a>

        <a href="/mainpage">
        <li class="nav__list">
        <i class="bi bi-house-door-fill"></i>
        <span class="text">홈</span></li></a>

        <a href="/dictionary">
        <li class="nav__list">
        <i class="bi bi-search"></i>
        <span class="text">검색</span></li></a>

        <a href="/mypage">
        <li class="nav__list">
        <i class="bi bi-person-fill"></i>
        <span class="text">마이페이지</span></li></a>
    </ul>


    <script src="/color.js"></script>
</body>

</html>