<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./bottom.css">
    <link rel="stylesheet" href="./theme.css">
    <link rel="stylesheet" href="./mypage.css">
    <link rel="stylesheet" href="./setting.css">
    <link rel="stylesheet" href="./basic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>테마변경</title>
</head>

<body>

    <header class="status-setting">
        <div class="status-bar">
            <div onclick="goBack()"><i class="bi bi-arrow-left" style="color: black; font-size:25px;"></i></div>
            <div class="status-bar__coulumn">테마변경</div>
            <div class="status-bar_coulumn"><i class="bi bi-paint-bucket" style="color: black; font-size:25px;"></i>
            </div>
        </div>
    </header>

    <div class="theme-colors">
        <button class="burgundy" onclick="changeThemeColor('--color-blue', '#95475b')">Burgundy</button>
        <button class="pink" onclick="changeThemeColor('--color-blue', '#ff87a1')">Pink</button>
        <button class="yellow" onclick="changeThemeColor('--color-blue', '#ffe65a')">Yellow</button>
        <button class="green" onclick="changeThemeColor('--color-blue', '#D0E450')">Green</button>
        <button class="blue" onclick="changeThemeColor('--color-blue', '#4298e8')">Blue</button>
        <button class="purple" onclick="changeThemeColor('--color-blue', '#9554bd')">Purple</button>
        <button class="white" onclick="changeThemeColor('--color-blue', '#ffffff')">White</button>
    </div>
    </div>

    <%- bottom %>

    <script>
        function goBack() {
            window.history.back();
        }
        function changeThemeColor(variable, color) {
            const root = document.documentElement;
            root.style.setProperty(variable, color);
        }


    </script>
</body>

</html>